version: '3'
services:
  namenode:
    image: bde2020/hadoop-namenode:2.0.0-hadoop3.2.1-java8
    container_name: namenode
    volumes:
      - ./data:/user/input  # Carpeta local mapeada para subir el dataset
      - ./scripts:/scripts  # Carpeta para tus scripts .pig
    environment:
      - CLUSTER_NAME=test
    env_file:
      - ./hadoop.env
    ports:
      - "9870:9870"
      - "9000:9000"

  datanode:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: datanode
    volumes:
      - hadoop_datanode:/hadoop/dfs/data
    env_file:
      - ./hadoop.env
    environment:
      - SERVICE_PRECONDITION=namenode:9870
    depends_on:
      - namenode

  # Contenedor con Pig instalado para ejecutar los trabajos
  pig-client:
    build: ./pig-image   # <--- CAMBIO IMPORTANTE: Construye desde la carpeta que creamos
    container_name: pig-client
    volumes:
      - ./data:/user/input
      - ./scripts:/scripts
    environment:
      - HADOOP_CONF_DIR=/etc/hadoop
    env_file:
      - ./hadoop.env
    command: tail -f /dev/null
    depends_on:
      - namenode
      - datanode

volumes:
  hadoop_datanode: